{% extends "base.html" %}

{% block title %}Recipe List{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          {{ form.description }}
        </div>
        <div class="form-group">
          <label for="ingredients">Ingredients</label>
          {{ form.ingredients }}
        </div>
        <div class="form-group">
          <label for="preparation_steps">Preparation Steps</label>
          {{ form.preparation_steps }}
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input type="file" name="image" id="image" class="form-control-file" required>
        </div>
        {% if user.is_authenticated %}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        {% else %}
        <div class="form-group">
          <p>Please <a href="{% url 'account_signup' %}">register</a> to submit.</p>
        </div>
        {% endif %}
      </form>
    </div>
  </div>
</div>


{% endblock %}