{% extends 'base.html' %}
{% load static %}
{% block title %}My Profile{% endblock %}

{% block content %}
<!-- All recipes a user has posted -->
<h1 class="text-center">{{ request.user.username|title }}'s Profile <i class="fa-sharp fa-solid fa-user"></i></h1>
{% if posted_recipes %}
<div class="container">
  <h4 class="text-center">Recipes {{ request.user.username|title }} has Posted <i class="fa-solid fa-envelope"></i></h4>
</div>
<div class="row">
  {% for recipe in posted_recipes %}
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card mb-3">
      {% if "placeholder" in recipe.image.url %}
      <img src="https://res.cloudinary.com/dwswn1jvq/image/upload/v1678748313/woman-gdc13bac57_640_mqqfjq.png"
        alt="placeholder" class="card-img-top img-top">
      {% else %}
      <img src="{{ recipe.image.url }}" alt="recipe image" class="card-img-top img-fit">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ recipe.title|title }}</h5>
        <p class="card-text">{{ recipe.description|safe }}</p>
        <a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-dark">View Recipe</a>
      </div>
    </div>
  </div>
  {% empty %}
  <p>You haven't posted any recipes yet.</p>
  {% endfor %}
</div>
{% endif %}

<!-- All Recipes a user has liked -->
{% if liked_recipes %}
<div class="container">
  <h4 class="text-center">{{ request.user.username|title }} Like's <i class="fa-sharp fa-solid fa-heart"></i></h4>
</div>
<div class="row">
  {% for recipe in liked_recipes %}
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card mb-3">
      {% if "placeholder" in recipe.image.url %}
      <img src="https://res.cloudinary.com/dwswn1jvq/image/upload/v1678748313/woman-gdc13bac57_640_mqqfjq.png"
        alt="placeholder" class="card-img-top">
      {% else %}
      <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ recipe.title|title }}</h5>
        <p class="card-text">{{ recipe.description|safe }}</p>
        <a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-dark">View Recipe</a>
      </div>
    </div>
  </div>
  {% empty %}
  <p>You haven't liked any recipes yet.</p>
  {% endfor %}
</div>
{% endif %}

<!--If User has no posts or likes -->
{% if not authored_recipes and not liked_recipes %}
<h3 class="text-center">You haven't posted or liked any recipes yet.</h3>
<h3 class="text-center">Get active !</h3>
{% endif %}
{% endblock %}

