{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Recipe Details{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="mb-4">{{ recipe.title }}</h1>
            <p class="text-muted">{{ recipe.author }} | {{ recipe.published_on }}</p>
            <img src="{% if recipe.image.url != "" %}{{ recipe.image.url }}{% else %}/static/img/placeholder.png{% endif %}"
                class="img-fluid my-4" alt="{{ recipe.title }}">
            <div class="my-4">
                <h2>Description:</h2>
                <p class="lead">{{ recipe.description }}</p>
            </div>
            <div class="my-4">
                <h2>Ingredients:</h2>
                <p>{{ recipe.ingredients|linebreaksbr }}</p>
            </div>
            <div class="my-4">
                <h2>Preparation Steps:</h2>
                <p>{{ recipe.preparation_steps|linebreaksbr }}</p>
            </div>
            <hr>
            <div class="my-4">
                <h2>Comments:</h2>
                {% for comment in comments %}
                <div class="mb-4">
                    <h5 class="mb-1">{{ comment.author }} <small
                            class="text-muted">{{ comment.created_on|date:"F d, Y" }}</small></h5>
                    <p>{{ comment.body | linebreaks }}</p>
                </div>
                {% empty %}
                <p>There are no comments yet.</p>
                {% endfor %}
            </div>
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}
            {% if user.is_authenticated %}
            <div class="my-4">
                <h2>Leave a Comment:</h2>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" class="my-4">
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            {% endif %}
            {% endif %}
        </div>
        <div class="col-lg-4">
            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Recipe Details</h5>
                    <p class="card-text"><strong>Number of Likes:</strong> {{ recipe.likes.count }}</p>
                    <p class="card-text"><strong>Number of Comments:</strong> {{ recipe.comments.count }}</p>
                    {% if request.user.is_authenticated %}
                    {% if request.user in recipe.likes.all %}
                    <form method="post" action="{% url 'like_recipe' recipe.slug %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Unlike</button>
                    </form>
                    {% else %}
                    <form method="post" action="{% url 'like_recipe' recipe.slug %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Like</button>
                    </form>
                    {% endif %}
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'account_login' %}">Login to like</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
